/* Custom styles for nf-core/mag presentation */

/* Apply accent color to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--slidev-theme-accent, #2daa66) !important;
}

/* Subtle logo watermark on each slide */
.slidev-layout:not(.cover):not(.center)::before {
  content: '';
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 90px;
  height: 90px;
  background-image: url('/images/mag_logo_mascot_only.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.3;
  pointer-events: none;
  z-index: 1;
}